.box-container {
  background: #f9f9f9;
  margin-bottom: 15px;
  font-size: 13px;
  border-top: solid 5px #f07e26;
  border-bottom: solid 2px #f07e26;
  color: #333333;
  position: relative;
}

.box-header {
  border-bottom: solid 1px #e0e0e0;
  font-family: 'Roboto Condensed', sans-serif;
  padding: 0 15px;
}
.box-container h5 {
  font-size: 1rem;
  margin: 15px 0;
}
.box-container h3 {
  font-size: 1.5rem;
  margin: 15px 0;
}

.box-body-container {
  color: #000000;
  padding: 0 15px;
}
.collapsed-box {
  max-height: 233px;
  overflow: hidden;
}

.ksf-collapser-container {
  font-weight: bold;
  font-size: 18px;
  text-align: center;
  bottom: 0;
  width: 100%;
  position: absolute;
  height: 40px;
  background-image: linear-gradient(#f9f9f938 10%, #f9f9f9);
  transition: all 0.5s;
}
.ksf-collapser {
  position: absolute;
  bottom: 0;
  transform: translate(-40px, 0px);
}
.show-arrow {
  position: absolute;
  bottom: 0;
  transform-origin: 50% 50%;
  transform: rotate(90deg) scaleY(1.8);
  transition: all 0.5s;
  margin-left: 10px;
}
.hide-collapser {
  display: none;
}

@media (min-width: 480px) {
  .box-container {
    margin-left: 3%;
    margin-right: 3%;
  }
}
@media (min-width: 769px) {
}
